#solve-page {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgb(125, 125, 125);
}

#solve-grid {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.grid-row,
.box-row {
    display: flex;
    flex-direction: row;
}

.grid-box {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}

.grid-box:hover {
    border: 2px solid white;
}

.solve-tile {
    width: 64px;
    height: 64px;
    border: 1px solid black;
    font-size: 32px;
    user-select: none;
}

.solve-tile:hover {
    border: 1px solid white;
}

.solve-tile-unset {
    cursor: grab;
    user-select: text;
    color: rgb(50, 50, 50);
}

.solve-tile-unset:hover {
    background-color: rgb(145, 145, 145);
}

.solve-tile-active {
    background-color: rgb(155, 155, 155);
}

.solve-tile-input {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    text-align: center;
    font-size: 32px;
    color: rgb(50, 50, 50);
}
